.header-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.header-container::before {
    content: "";
    overflow: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url(../assets/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(25%);
}

.header-title {
    overflow: hidden;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-title {
    overflow: hidden;
    top: 30%;
    font-size: 4rem;
    line-height: 4.5rem;
}

.header-title-effect {
    overflow: hidden;
    color: #8cfa8c;
    font-size: 4rem;
}

.header-buttons {
    position: relative;
    inset: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.header-signup  {
    border-style: none;
    position: relative;
    padding: 1.2em 1.8em;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0.25em;
    font-weight: bold;
    z-index: 0;
    letter-spacing: 0.1em;
}

.header-signup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #8cfa8c;
    z-index: -1;
    transition-timing-function: ease-in-out;
    transition: all 1s;
}

.header-signup:hover::before  {
    width: 100%;
}

@media only screen and (max-width: 1919px) and (min-width: 1365px) {
}

@media only screen and (max-width: 1919px) and (min-width: 1680px) {
    .header-title-effect, .main-title {
        font-size: 6rem;
        line-height: 6rem;
    }
    .header-buttons {
        top: 50%;
    }
}

@media only screen and (max-width: 2560px) and (min-width : 1920px) {
    .header-title-effect, .main-title {
        top: 35%;
        font-size: 6rem;
        line-height: 6rem;
    }
    .header-buttons {
        top: 62.5%;
    }
}
