* {
    padding : 0;
    margin : 0;
}

.nav-container {
    display: flex;
    background-color: #191c19;
    align-items: center;
    padding: 1em;
}

.form-container {
    margin-left: auto;
    margin-right: 1em;
}

.nav-logo {
    margin : 0 1em;
}

.nav-logo {
    aspect-ratio: 1;
    width: 4em;
}

.nav-title {
    font-size : 1.5rem;
    color: whitesmoke;
}

.input-username, .input-password {
    outline: none;
    padding: 0.6em;
    margin: 0 0.4em;
    border-radius: 0.3em;
}

.form-btn {
    padding: 0.65em 1.25em;
    border-style: none;
    margin: 0 0.4em;
    background-color: #8cfa8c;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 0.3em;
}

