.nav-container {
    display: flex;
    background-color: #191c19;
    align-items: center;
    padding: 1em;
}

.form-container {
    margin-left: auto;
    margin-right: 1em;
}

.nav-logo {
    margin : 0 1em;
}

.nav-logo {
    aspect-ratio: 1;
    width: 4em;
}

.nav-title {
    font-size : 1.5rem;
    color: whitesmoke;
}

.input-username, .input-password {
    outline: none;
    padding: 0.6em;
    margin: 0 0.4em;
    border-radius: 0.3em;
    border: none;
    width: 12em;
}

.input-username::placeholder, .input-password::placeholder {
    opacity: 1;
    color: #191c19;
}

.login-btn, .logout-btn {
    padding: 0.65em 1.25em;
    border-style: none;
    background-color: #8cfa8c;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 0.3em;
}

.login-btn {
    margin: 0 0.4em;
}

.logout-btn {
    margin: 0 1.4em 0 0;
}

.user {
    color: whitesmoke;
    font-size: 1.3rem;
    margin: 0 1.4em 0 0.5em;
}

.right-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user-logo {
    aspect-ratio: 1;
    width: 2.25em;
    filter: invert(86%) sepia(9%) saturate(678%) hue-rotate(81deg) brightness(110%) contrast(92%)
}
